<div class="preview">
    <%= render 'layouts/showproject' %>

    <div class="fixed-bottom text-center border-top bg-light py-2">
      <div class="btn"><%= link_to 'Back to edit page', edit_project_path(@project), class: "btn btn-success " %></div>
    </div>
</div>
