/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'summernote-bs4';
@import 'font-awesome-sprockets';
@import 'font-awesome';

//font family
body {
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans',
    'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo,
    'ＭＳ Ｐゴシック', 'MS PGothic';
}

//inner
.inner {
  width: 100%;
  overflow: hidden;
}

.story.pl-4.col-md-8.col-xs-12 {
  word-wrap: break-word;
}

//project/index

$blue: #4c49a2;

.space-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

a.card-text {
  color: inherit;
}
a:hover {
  color: $blue;
  text-decoration: none;
}

.project-title {
  display: block;
  height: 4rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.project-img:hover {
  cursor: pointer;
  filter: alpha(opacity=60); /* ie lt 8 */
  -ms-filter: 'alpha(opacity=60)'; /* ie 8 */
  -moz-opacity: 0.6; /* FF lt 1.5, Netscape */
  -khtml-opacity: 0.6; /* Safari 1.x */
  opacity: 0.6;
  zoom: 1;
}

//launch button

.btn-custom {
  background: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 18px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  position: relative;
  top: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.green {
  background: #10bc98;
  color: #fff;
  box-shadow: 0 3px 0 #0c8d72;
}

.green:hover {
  background: #13d7ae;
}

.green:active,
.green:focus {
  background: #0fae8d;
}

.rounded {
  border-radius: 5px;
}

//notice layout
.alert {
  text-align: center;
}

.alert-info {
  background-color: #bde9ff;
  border-color: #bde9ff;
  color: #4c6977;
}

.alert-danger {
  background-color: #f3c0c0;
  border-color: #f3c0c0;
  color: #3e3a3a;
}

//search bar
.form-search:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.search-icon {
  padding-top: 13px;
}

//user toggle button
.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.user-page .dropdown-toggle:after {
  display: none;
}

//languages, currency toggle button
.lang-currency-button {
  border-color: #000000;
}

//login sign up form
.login-page {
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .login-button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .login-button:hover,
.form .login-button:active,
.form .login-button:focus {
  background: #43a047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
